body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    padding: 50px 0 0 50px;
}

.site-title, .site-subtitle {
    text-align: left;
    text-transform: uppercase;
}

.site-subtitle {
    color: gray;
    font-size: 1.1em;
}