@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-color: #FFF;
    --bg-color-secondary: #CCC;
    --font-color: #000;
    --font-secondary-color: #808080;
    --ecommerce-img: url("../img/ecommerce-dark.svg");
    --mobile-img: url("../img/mobile-dark.svg");
    --design-img: url("../img/web-design-dark.svg");
    --personal-img: url("../img/personal-dark.svg");
}

[data-theme="dark"] {
    --bg-color: #181818;
    --bg-color-secondary: #333;
    --font-color: #FFF;
    --font-secondary-color: #808080;
    --ecommerce-img: url("../img/ecommerce-light.svg");
    --mobile-img: url("../img/mobile-light.svg");
    --design-img: url("../img/web-design-light.svg");
    --personal-img: url("../img/personal-light.svg");
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    height: 100vh;
    align-items: center;
}

.menu {
    background-color:var(--bg-color);
    padding: 5px 0 2px;
    /*margin: 5px 0 2px;*/
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.menu li {
    list-style: none;
}

.menu a {
    padding: 5px 10px;
    display: block;
}

a {
    color: var(--font-secondary-color-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ion-icon {
    position: relative;
    top: 3px;
}

.title {
    padding: 10px 0 0 50px;
}

.site-title, .site-subtitle {
    text-align: left;
    text-transform: uppercase;
}

.site-title {
    font-size: 2em;
}

.site-subtitle {
    color: var(--font-secondary-color);
    font-size: 1.4em;
}
/* Switch Theme */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
.mode-button {
    margin-left: 10px;
    font-size: 1rem;
}
.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #FFF;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
    background-color: #202020;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before{
    border-radius: 50%;
}

.portfolio {
    background-color: var(--bg-color-secondary);
    padding: 50px 0 0 0;
}

.portfolio-title {
    margin-left: 50px;
}

.portfolio-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.ecommerce {
    background: var(--ecommerce-img);
}

.mobile {
    background: var(--mobile-img);  
}

.design {
    background: var(--design-img);
}

.personal {
    background: var(--personal-img);
}

.img-portfolio {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border: 1px solid #000;
    margin-top: 20px;
    padding-top: 150px;
    text-align: center;
    width: 200px;
    transition: transform .5s;
}

.img-portfolio:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Layout Desktop*/
@media (min-width:868px) {
    body {
        font-size: 1.5em;
    }
    header {
        display: flex;
        height: 80vh;
        align-items: center;
    }
    .portfolio {
        display: inline-block;
        width: 100%;
    }
    .portfolio-images{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 100px 25px;
    }
    .column-left, .column-right {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
}

@media (max-width: 868px) and (min-width: 600px){
    .portfolio-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    .img-portfolio {
        background-size: 30vh;
        background-repeat: no-repeat;
        background-position: 10px 10px;
        border: 1px solid #000;
        margin: 20px;
        padding-top: 150px;
        text-align: center;
        width: 200px;
    }
    .column-left, .column-right {
        display: inline;
    }
}

@media (max-width:420px){
    ion-icon {
        display: none;
    }
}